In [82]:
import pandas as pd
import numpy as np

In [83]:
df = pd.read_csv('/home/dika45/Documents/JupyterPython/CSVS/SectorSheet.csv')

In [84]:
df

,cell_id,azimuth,band,sector,Unnamed: 4,"Calculate sector:\nZa svaki sajt (slovo iz kolone cell_id) pronadji band sa najvise celija (cell_id) (rezultat benda 3 podeli sa 2)\nSortijaj po azimuthu i dodeli vrednost sectora od 1 do n\nCelije iz drugih bendova, pridruzi najblizem po azimuthu.\n"
0,A1,0,1,1.0,NaN,NaN
1,A2,80,1,2.0,NaN,NaN
2,A3,280,1,3.0,NaN,NaN
3,A4,320,1,4.0,NaN,NaN
4,A11,0,2,1.0,NaN,NaN
5,A12,35,2,1.0,NaN,NaN
6,A13,359,2,1.0,NaN,NaN
7,A21,10,3,1.0,NaN,NaN
8,A22,240,3,3.0,NaN,NaN
9,A23,350,3,1.0,NaN,NaN
10,A31,10,3,1.0,NaN,NaN
11,A32,270,3,3.0,NaN,NaN
12,A33,340,3,NaN,NaN,NaN
13,B1,10,1,NaN,NaN,NaN
14,B2,150,1,NaN,NaN,NaN
15,B3,280,1,NaN,NaN,NaN
16,B11,0,2,NaN,NaN,NaN
17,B12,70,2,NaN,NaN,NaN
18,B13,310,2,NaN,NaN,NaN

In [85]:
df['cell'] = df.cell_id.str[:1]

In [86]:
df['id'] = df.cell_id.str[1:]

In [87]:
df.astype({'cell_id': 'string'}).dtypes

cell_id                                                                                                                                                                                                                                                        string
azimuth                                                                                                                                                                                                                                                         int64
band                                                                                                                                                                                                                                                            int64
sector                                                                                                                                                                                                                                                        float64
Unnamed: 4                                                                                                                                                                                                                                                    float64
Calculate sector:\nZa svaki sajt (slovo iz kolone cell_id) pronadji band sa najvise celija (cell_id) (rezultat benda 3 podeli sa 2)\nSortijaj po azimuthu i dodeli vrednost sectora od 1 do n\nCelije iz drugih bendova, pridruzi najblizem po azimuthu.\n    float64
cell                                                                                                                                                                                                                                                           object
id                                                                                                                                                                                                                                                             object
dtype: object

In [88]:
def listaBandOne(df):
    lis = {}
    for i in range(len(df)):
        if df.loc[i, 'band'] == 1:
            if df.loc[i, 'cell_id'][0] in lis:
                lis[df.loc[i, 'cell_id'][0]].append(df.loc[i, 'azimuth'])
            else:
                lis[df.loc[i, 'cell_id'][0]] = [df.loc[i, 'azimuth']]
                
        
        
    return lis

In [89]:
dic = listaBandOne(df)

In [90]:
def calctulationPoints(lis):
    l = []
    for idx, val in enumerate(lis):
        try:
            if lis[idx] > lis[idx+1]:
                prom = lis[idx]+(((lis[0]+360)-lis[idx])/2)
                l.append(prom)
            else:
                prom = lis[idx]+((lis[idx+1]-lis[idx])/2)
                l.append(prom)
        except:
            continue
            
    return l

In [91]:
dic

{'A': [0, 80, 280, 320], 'B': [10, 150, 280]}

In [92]:
dic

{'A': [0, 80, 280, 320], 'B': [10, 150, 280]}

In [107]:
del df['Unnamed: 4']

In [95]:
calctulationPoints(lis)

[40.0, 180.0, 300.0, 340.0]

In [96]:
df

,cell_id,azimuth,band,sector,Unnamed: 4,"Calculate sector:\nZa svaki sajt (slovo iz kolone cell_id) pronadji band sa najvise celija (cell_id) (rezultat benda 3 podeli sa 2)\nSortijaj po azimuthu i dodeli vrednost sectora od 1 do n\nCelije iz drugih bendova, pridruzi najblizem po azimuthu.\n",cell,id
0,A1,0,1,1.0,NaN,NaN,A,1
1,A2,80,1,2.0,NaN,NaN,A,2
2,A3,280,1,3.0,NaN,NaN,A,3
3,A4,320,1,4.0,NaN,NaN,A,4
4,A11,0,2,1.0,NaN,NaN,A,11
5,A12,35,2,1.0,NaN,NaN,A,12
6,A13,359,2,1.0,NaN,NaN,A,13
7,A21,10,3,1.0,NaN,NaN,A,21
8,A22,240,3,3.0,NaN,NaN,A,22
9,A23,350,3,1.0,NaN,NaN,A,23
10,A31,10,3,1.0,NaN,NaN,A,31
11,A32,270,3,3.0,NaN,NaN,A,32
12,A33,340,3,NaN,NaN,NaN,A,33
13,B1,10,1,NaN,NaN,NaN,B,1
14,B2,150,1,NaN,NaN,NaN,B,2
15,B3,280,1,NaN,NaN,NaN,B,3
16,B11,0,2,NaN,NaN,NaN,B,11
17,B12,70,2,NaN,NaN,NaN,B,12
18,B13,310,2,NaN,NaN,NaN,B,13

In [97]:
### proveriti duzinu ako je 2 stringa cell_id.. dodeliti mu vrednos drugog broja u stringu

In [98]:
def calcSector(df, dic):
    for index, row in df.iterrows():
        if len(row.cell_id) == 2:
            df['sector'][index] = int(row.cell_id[1])
        else:
            nes = []
            for i in dic[row.cell]:
                if i >= row.azimuth:
                    si = i - row.azimuth
                    if si > 180:
                        si = 360 - si
                    nes.append(si)
                else:
                    si = row.azimuth - i
                    if si > 180:
                        si = 360 - si
                    nes.append(si)
                    
            ind = nes.index(min(nes))
            df['sector'][index] = ind+1

In [99]:
calcSector(df, dic)

<ipython-input-98-7ce6914bbfd8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'][index] = int(row.cell_id[1])
<ipython-input-98-7ce6914bbfd8>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sector'][index] = ind+1

In [100]:
def maxBand(df):
    dm = df.groupby(['cell', 'band']).agg({'cell_id': 'count'})
    
    for i in range(len(dm)):
        if dm['cell_id'].index[i][1] == 3:
            dm['cell_id'][i] = dm['cell_id'][i] / 2
    
    ki = {}
    li = 0
    for index, row in dm.iterrows():    
        if index[0] not in ki.keys():
            li = row.cell_id
            ki[index[0]] = [index[1],li]
        else:
            if li < row.cell_id:
                li = row.cell_id
                ki[index[0]] = [index[1],li]        
        
    
    return ki

In [101]:
ban = maxBand(df)

In [102]:
for key, value in ban.items():
    print('Vrsta celije: {} najveci band: {}  i ima {} celije u tom bendu'.format(key,value[0],value[1]))

Vrsta celije: A najveci band: 1  i ima 4 celije u tom bendu
Vrsta celije: B najveci band: 1  i ima 3 celije u tom bendu

In [108]:
df.sort_values('azimuth')

,cell_id,azimuth,band,sector,"Calculate sector:\nZa svaki sajt (slovo iz kolone cell_id) pronadji band sa najvise celija (cell_id) (rezultat benda 3 podeli sa 2)\nSortijaj po azimuthu i dodeli vrednost sectora od 1 do n\nCelije iz drugih bendova, pridruzi najblizem po azimuthu.\n",cell,id
0,A1,0,1,1.0,NaN,A,1
16,B11,0,2,1.0,NaN,B,11
4,A11,0,2,1.0,NaN,A,11
7,A21,10,3,1.0,NaN,A,21
10,A31,10,3,1.0,NaN,A,31
13,B1,10,1,1.0,NaN,B,1
5,A12,35,2,1.0,NaN,A,12
17,B12,70,2,1.0,NaN,B,12
1,A2,80,1,2.0,NaN,A,2
14,B2,150,1,2.0,NaN,B,2
8,A22,240,3,3.0,NaN,A,22
11,A32,270,3,3.0,NaN,A,32
2,A3,280,1,3.0,NaN,A,3
15,B3,280,1,3.0,NaN,B,3
18,B13,310,2,3.0,NaN,B,13
3,A4,320,1,4.0,NaN,A,4
12,A33,340,3,1.0,NaN,A,33
9,A23,350,3,1.0,NaN,A,23
6,A13,359,2,1.0,NaN,A,13

In [109]:
df

,cell_id,azimuth,band,sector,"Calculate sector:\nZa svaki sajt (slovo iz kolone cell_id) pronadji band sa najvise celija (cell_id) (rezultat benda 3 podeli sa 2)\nSortijaj po azimuthu i dodeli vrednost sectora od 1 do n\nCelije iz drugih bendova, pridruzi najblizem po azimuthu.\n",cell,id
0,A1,0,1,1.0,NaN,A,1
1,A2,80,1,2.0,NaN,A,2
2,A3,280,1,3.0,NaN,A,3
3,A4,320,1,4.0,NaN,A,4
4,A11,0,2,1.0,NaN,A,11
5,A12,35,2,1.0,NaN,A,12
6,A13,359,2,1.0,NaN,A,13
7,A21,10,3,1.0,NaN,A,21
8,A22,240,3,3.0,NaN,A,22
9,A23,350,3,1.0,NaN,A,23
10,A31,10,3,1.0,NaN,A,31
11,A32,270,3,3.0,NaN,A,32
12,A33,340,3,1.0,NaN,A,33
13,B1,10,1,1.0,NaN,B,1
14,B2,150,1,2.0,NaN,B,2
15,B3,280,1,3.0,NaN,B,3
16,B11,0,2,1.0,NaN,B,11
17,B12,70,2,1.0,NaN,B,12
18,B13,310,2,3.0,NaN,B,13